Source: veejay-client
Section: video
Priority: optional
Maintainer: Niels Elburg <nwelburg@gmail.com>
Build-Depends: debhelper-compat (= 13), pkg-config, autoconf, automake, libtool,
 veejay-core (>= 1.6.0), libgtk-3-dev, libx11-dev, libavutil-dev,
 libsdl2-dev, libasound2-dev
Standards-Version: 4.6.2
Homepage: http://www.veejayhq.net
Vcs-Git: git://github.com/game-stop/veejay.git

Package: veejay-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, veejay-core (>= 1.6.0)
Recommends: veejay (>= 1.6.0)
Description:  Reloaded, a graphical interface for veejay.
 This program requires a running veejay.
 Features:
 * Thin client (TCP/IP)
 * MIDI support (auto learning)
 * Slick interface designed for live performing
 * Tracks multiple veejay servers
