Source: veejay
Section: video
Priority: optional
Maintainer: Niels Elburg <nwelburg@gmail.com>
Standards-Version: 3.8.4
Build-Depends: debhelper,
               autotools-dev,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libgtk2.0-dev,
               libjack-dev,
               libjpeg-dev,
               libsdl1.2-dev,
               libswscale-dev,
               libxml2-dev,
               libx11-dev,
               libmjpegtools-dev,
               libfreetype6-dev,
               libquicktime-dev

Homepage: http://www.veejayhq.net/
Package: veejay
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}, libveejay (>= ${source:Version})
Recommends: reloaded (>= 1.5.21)
Suggests: veejay-utils, frei0r-plugins
Description:Veejay a visual instrument and realtime video sampler.
 With veejay, you can play the video like you would play a piano. The
 engine is based upon ffmpeg and the mjpegtools featuring a client-server
 model with multiple clients.
 .
 Veejay boasts the following powerfull features.
 .
 While playing, you can record the resulting video directly to disk 
 (video sampling).
 .
 All effects are realtime and optimized for use on modern processors.
 .
 Veejay likes the sound of your videos as much as their images: sound is
 kept in sync (pitched when needed - trickplay) and delivered to JACK for
 possible further processing.
 .
 Can cluster to allow a number of machines to work together over the
 network (uncompressed streaming, veejay chaining).
 .
 And much more...
 .

Package: veejay-dbg
Section: debug
Priority: extra
Architecture: any
Depends: veejay (= ${binary:Version}),
 ${misc:Depends}
Description: Veejay a visual instrument and realtime video sampler.
 With veejay, you can play the video like you would play a piano. The
 engine is based upon ffmpeg and the mjpegtools featuring a client-server
 model with multiple clients.
 .
 This package contains the debugging symbols.


Package: libveejay
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Veejay a visual instrument and realtime video sampler.
 This package contains the shared library file.
 .

Package: libveejay-dev
Architecture: any
Section: libdevel
Depends: libveejay0 (>= ${source:Version})
Description: Veejay a visual instrument and realtime video sampler.
 This package contains development files needed for compiling veejay-client
 or veejay-utils.
 .
