Source: veejay
Section: video
Priority: optional
Maintainer: Niels Elburg <nwelburg@gmail.com>
Build-Depends: debhelper-compat (= 13), pkg-config, autoconf, automake, libtool,
 veejay-core (>= 1.6.0), libglib2.0-dev, libavutil-dev (>= 7:6.0),
 libavcodec-dev (>= 7:6.0), libavformat-dev (>= 7:6.0), libswscale-dev,
 libswresample-dev, libx11-dev, libxinerama-dev, libjpeg-dev,
 libgdk-pixbuf-2.0-dev, libdv4-dev, libquicktime-dev, libsdl2-dev,
 liblo-dev, libjack-dev, libxml2-dev, libfreetype-dev, libfontconfig-dev,
 libunwind-dev
Standards-Version: 4.6.2
Homepage: http://www.veejayhq.net
Vcs-Git: git://code.dyne.org/veejay.git

Package: veejay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, veejay-core (>= 1.6.0)
Description: Veejay a visual instrument and realtime video sampler.
 With veejay, you can play the video like you would play a piano. The
 engine is based upon ffmpeg and the mjpegtools featuring a client-server
 model with multiple clients.
 .
 Veejay boasts the following powerfull features.
 .
 While playing, you can record the resulting video directly to disk 
 (video sampling).
 .
 All effects are realtime and optimized for use on modern processors.
 .
 Veejay likes the sound of your videos as much as their images: sound is
 kept in sync (pitched when needed - trickplay) and delivered to JACK for
 possible further processing.
 .
 Can cluster to allow a number of machines to work together over the
 network (uncompressed streaming, veejay chaining).
 .
 And much more...
 .


