#!/usr/bin/make -f
# -*- makefile -*-

	dh $@

override_dh_auto_configure:
ifeq ($(DEB_HOST_ARCH),i386)
	sh autogen.sh
	dh_auto_configure -- -with-arch-target=generic
	sed -i "s%#define HAVE_ASM_3DNOW%/* #undef HAVE_ASM_3DNOW */%g" config.h
	sed -i "s%#define HAVE_CMOV%/* #undef HAVE_CMOV */%g" config.h	
endif
ifeq ($(DEB_HOST_ARCH),amd64)
	sh autogen.sh
	dh_auto_configure -- --with-arch-target=generic
	sed -i "s%#define HAVE_ASM_3DNOW%/* #undef HAVE_ASM_3DNOW */%g" config.h
endif

override_dh_strip:
	dh_strip --dbg-package=veejay-dbg

override_dh_auto_install:
	dh_auto_install
	find debian/tmp -type f -name "*.la" -ls -delete
