Source: reloaded
Section: video
Priority: extra
Maintainer: Niels Elburg <nwelburg@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev,libgtk2.0-dev,libavformat-dev,libavcodec-dev,libglib2.0-dev,libmjpegtools-dev,libavutil-dev,libmjpegtools-dev,libpthread-stubs0-dev,libglade2-dev    
Standards-Version: 3.7.2

Package: reloaded
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The is the graphical interface to Veejay - a 'visual' instrument and realtime video sampler

