#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_OPTIONS
VEEJAY_ARCH_TARGET ?= generic
-include debian/veejay-release.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-arch-target=$(VEEJAY_ARCH_TARGET)
