/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gveejay-paths.h
/gveejay-paths.sh
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/cellrendererspin.o
/src/curve.o
/src/gtkcolorsel.o
/src/gtkknob.o
/src/gtktimeselection.o
/src/gveejay.o
/src/keyboard.o
/src/mjpeg_logging.o
/src/mpegconsts.o
/src/mpegtimecode.o
/src/multitrack.o
/src/reloaded
/src/sequence.o
/src/tracksources.o
/src/utils.o
/src/vj-api.o
/src/vj-midi.o
/src/yuv4mpeg.o
/src/yuv4mpeg_ratio.o
/stamp-h1
