[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Veejay (720x576, /dev/video0) 
Comment=Start veejay server from capture device #0 in 720x576
Exec=veejay -A1 -v -W720 -H576
Terminal=true
Type=Application
Icon=veejay-icon.png
Categories=AudioVideoEditing;AudioVideo;
