Source: veejay-utils
Section: video
Priority: optional
Maintainer: Niels Elburg <nwelburg@gmail.com>
Build-Depends: debhelper-compat (= 13), pkg-config, autoconf, automake, libtool,
 veejay-core (>= 1.6.0), veejay (>= 1.6.0), libavutil-dev
Standards-Version: 4.6.2
Homepage: http://www.veejayhq.net
Vcs-Git: git://code.dyne.org/veejay.git

Package: veejay-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, veejay-core (>= 1.6.0), veejay (>= 1.6.0)
Description:  Additional command line utilities for veejay
 This package contains sayVIMS, a program to communicate with veejay over the network or local machine.
 See the veejay-puredata package for the Pure Data (sendVIMS) equivalent.


