# Edit these colors and fonts however you like.
style "default"
{
  engine "hcengine" {}
  xthickness = 1
  ythickness = 1
  GtkWidget::shadow_type = GTK_SHADOW_ETCHED_OUT
  #GtkWidget::interior_focus = 0
  #GtkWidget::focus_padding = 0
  #GtkWidget::default_border         = {0, 0, 0, 0}
  #GtkWidget::default_outside_border = {0, 0, 0, 0} 
  GtkWidget::default_spacing        = 0
  GtkScale::stepper_size = 8
  GtkRange::through-width = 4
  GtkRange::trough_border = 0
  GtkRange::slider-width = 16
  GtkScale::slider-length = 10
  
  font_name = "Sans 8"

  fg[NORMAL]        = "#000000" # borders etc.
  fg[PRELIGHT]      = "#ffffff"
  fg[ACTIVE]        = "#000000" # ook borders, van sliders en notebook
  fg[SELECTED]      = "#ffffff"
  fg[INSENSITIVE]   = "#c0c0c0"
  
  bg[NORMAL]        = "#ffffff" # algemene achtergrond kleur
  bg[PRELIGHT]      = "#aaacc1" # achtergrond geselecteerd widget
  bg[ACTIVE]        = "#c0c0c0" # niet actieve tabs, achtergrond sliders
  bg[SELECTED]      = "#00ff00"
  bg[INSENSITIVE]   = "#ffffff" # achtergrond kleur van niet actieve knopjes

  text[NORMAL]      = "#050505"
  text[PRELIGHT]    = "#d8d8d8"
  text[ACTIVE]      = "#FF0000"
  text[SELECTED]    = "#FF0000"
  text[INSENSITIVE] = "#404040"

  base[NORMAL]      = "#c0c0c0"
  base[PRELIGHT]    = "#00fff0"	# achtergrond van lists, status bars
  base[ACTIVE]      = "#0000ff"
  base[SELECTED]    = "#757ab3"
  base[INSENSITIVE] = "#27282f"
  
}

style "text"
{
  font_name = "Sans 8"

  fg[NORMAL]        = "#ffffff" # borders etc.
  fg[PRELIGHT]      = "#ffffff"
  fg[ACTIVE]        = "#ffffff" # ook borders, van sliders en notebook
  fg[SELECTED]      = "#ffffff"
  fg[INSENSITIVE]   = "#ffffff"
  
  bg[NORMAL]        = "#27282F" # algemene achtergrond kleur
  bg[PRELIGHT]      = "#aaacc1" # achtergrond geselecteerd widget
  bg[ACTIVE]        = "#454f60" # niet actieve tabs, achtergrond sliders
  bg[SELECTED]      = "#5058a0"
  bg[INSENSITIVE]   = "#27282f" # achtergrond kleur van niet actieve knopjes

  text[NORMAL]      = "#d8d8d8"
  text[PRELIGHT]    = "#d8d8d8"
  text[ACTIVE]      = "#FF0000"
  text[SELECTED]    = "#FF0000"
  text[INSENSITIVE] = "#404040"

  base[NORMAL]      = "#37383f"
  base[PRELIGHT]    = "#aaacc1"
  base[ACTIVE]      = "#757f90"
  base[SELECTED]    = "#757ab3"
  base[INSENSITIVE] = "#27282f"
  
}


style "buttons"
{
  
  font_name = "Sans 8"

  fg[NORMAL]        = "#888888"
  fg[PRELIGHT]      = "#888888"
  fg[ACTIVE]        = "#888888"
  fg[SELECTED]      = "#888888"
  fg[INSENSITIVE]   = "#888888"
  
  bg[NORMAL]        = "#27282F"
  bg[PRELIGHT]      = "#aaacc1"
  bg[ACTIVE]        = "#454f60"
  bg[SELECTED]      = "#5058a0"
  bg[INSENSITIVE]   = "#27282f"

  text[NORMAL]      = "#d8d8d8"
  text[PRELIGHT]    = "#d8d8d8"
  text[ACTIVE]      = "#FF0000"
  text[SELECTED]    = "#FF0000"
  text[INSENSITIVE] = "#404040"

  base[NORMAL]      = "#37383f"
  base[PRELIGHT]    = "#aaacc1"
  base[ACTIVE]      = "#757f90"
  base[SELECTED]    = "#757ab3"
  base[INSENSITIVE] = "#27282f"
  
}



class "GtkButton" style "default"
class "GtkSpinButton" style "default"
class "GtkToggleButton" style "default"
class "GtkCheckBox" style "default"

class "GtkLabel" style "default"

class "GtkWidget" style "default"
