# Edit these colors and fonts however you like.
style "default"
{
  GtkWidget::interior_focus = 0
  GtkWidget::focus_padding = 0
  GtkWidget::default_border         = {0, 0, 0, 0}
  GtkWidget::default_outside_border = {0, 0, 0, 0} 
  GtkWidget::default_spacing        = 0
  
  font_name = "Sans 8"

  fg[NORMAL]        = "#d8d8d8"
  fg[PRELIGHT]      = "#d8d8d8"
  fg[ACTIVE]        = "#d8d8d8"
  fg[SELECTED]      = "#ffffff"
  fg[INSENSITIVE]   = "#404040"
  
  bg[NORMAL]        = "#27282F"
  bg[PRELIGHT]      = "#aaacc1"
  bg[ACTIVE]        = "#454f60"
  bg[SELECTED]      = "#5058a0"
  bg[INSENSITIVE]   = "#27282f"

  text[NORMAL]      = "#d8d8d8"
  text[PRELIGHT]    = "#d8d8d8"
  text[ACTIVE]      = "#ffffff"
  text[SELECTED]    = "#ffffff"
  text[INSENSITIVE] = "#404040"

  base[NORMAL]      = "#37383f"
  base[PRELIGHT]    = "#aaacc1"
  base[ACTIVE]      = "#757f90"
  base[SELECTED]    = "#757ab3"
  base[INSENSITIVE] = "#27282f"
}

style "button"
{
  font_name = "Sans 8"
  bg[NORMAL]        = "#4b5076"
}

style "vscale"
{
  GtkScale::stepper_size = 8
  GtkRange::through-width = 0
  GtkRange::trough_border = 0
  GtkRange::slider-width = 16
  GtkScale::slider-length = 23
  font_name = "Sans 8"
  bg[NORMAL]        = "#00062f"
  bg_pixmap[NORMAL] = "blue.png"
}

style "hscale"
{
  GtkRange::through-width = 1
  GtkRange::trough_border = 1
  GtkRange::slider-width = 10
  GtkScale::slider-length = 32 
  font_name = "Sans 8"
}


style "scrollbar"
{
  GtkRange::slider_width = 10
  GtkRange::stepper_size = 10
  GtkRange::slider_length = 6
}

style "label"
{  
  GtkWidget::interior_focus = 0
  GtkWidget::focus_padding = 0
  GtkWidget::default_border         = {0, 0, 0, 0}
  GtkWidget::default_outside_border = {0, 0, 0, 0} 
  GtkWidget::default_spacing        = 0 
  font_name = "Sans 8"
}

style "tree"
{
	font_name = "Sans 8"
}

class "GtkWidget" style "default"
class "GtkWindow" style "default"
class "GtkRange" style "scrollbar"
class "GtkVScale" style "vscale"
class "GtkHScale" style "hscale"
class "GtkLabel" style "label"
class "GtkTree" style "label"
class "GtkButton" style "button"
