# Edit these colors and fonts however you like.
style "default"
{
  xthickness = 1
  ythickness = 1
  GtkWidget::shadow_type = GTK_SHADOW_ETCHED_OUT
  #GtkWidget::interior_focus = 0
  #GtkWidget::focus_padding = 0
  #GtkWidget::default_border         = {0, 0, 0, 0}
  #GtkWidget::default_outside_border = {0, 0, 0, 0} 
  GtkWidget::default_spacing        = 0
  GtkScale::stepper_size = 8
  GtkRange::through-width = 4
  GtkRange::trough_border = 0
  GtkRange::slider-width = 16
  GtkScale::slider-length = 10
  
  font_name = "Sans 8"

  # foreground color of widgets

  fg[NORMAL]        = "#646464" # normal
  fg[PRELIGHT]      = "#646464" # mouse on top of widget
  fg[ACTIVE]        = "#646464" # the widget is pressed or clicked (and active)
  fg[SELECTED]      = "#646464" # selected  
  fg[INSENSITIVE]   = "#404040" # greyed out
  
  bg[NORMAL]        = "#27282F" # see above 
  bg[PRELIGHT]      = "#aaacc1" # 
  bg[ACTIVE]        = "#454f60" # 
  bg[SELECTED]      = "#5058a0" #
  bg[INSENSITIVE]   = "#27282f" # 

  # set the color used for foreground of widgets using base for the background

  text[NORMAL]	      ="#171223"
  text[PRELIGHT]    = "#414174"
  text[ACTIVE]      = "#141444"
#  text[SELECTED]    = "#FF0000"
  text[SELECTED] = "#0b0b46"
  text[INSENSITIVE] = "#404040"

  base[NORMAL]      = "#37383f"
  base[PRELIGHT]    = "#aaacc1"
  base[ACTIVE]      = "#757f90"
  base[SELECTED]    = "#757ab3"
  base[INSENSITIVE] = "#27282f"
  bg_pixmap[NORMAL] = "bg.png"
}


class "GtkWidget" style "default"
