Source: veejay
Section: video
Priority: extra
Maintainer: Niels Elburg <nwelburg@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev,libx11-dev,xutils-dev,libxml2-dev,libxinerama-dev,libswscale-dev,libsdl1.2-dev,libavformat-dev,libjack-dev,libavcodec-dev,libglib2.0-dev,libquicktime-dev,libmjpegtools-dev,libjpeg62-dev,libfreetype6-dev,libdv4-dev,libavutil-dev,libmjpegtools-dev     
Standards-Version: 3.7.2

Package: veejay
Architecture: i686
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Veejay - a 'visual' instrument and realtime video sampler
 Veejay is a visual instrument and real-time video sampler.
 It allows you to "play" the video like you would play a piano.
 While playing, you can record the resulting video directly to disk (video sampling).


