@define-color border-color #434449;
@define-color bg-color #27282f;

* {
 border-color:#434449;
 background-image:none;
 border-width:0px;
 color:#ffffff;
 font-size:98%;
}

/* .reloaded is a style class for a window, using * to set the background color gives issues with treeview */
.reloaded {
 border-color:#434449;
 background-image:none;
 border-width:0px;
 background:#27282f;
 color:#ffffff;
}

.sequencer {
 padding:8px;
}

.sample_slot, .sequencer_slot, .quickselect_slot {
 border-width:1px;
 border-style:solid;
}

.active {
 border-color:#ff8400;
}

.selected {
 border-color:#9ec5e3;
}

.smallaspossible {
    min-height: 0px;
    min-width: 0px;
}

checkbutton,radiobutton {
 border-style:none;
}

entry,button {
 border-style:outset;
 border-color:#2e2f36;
 border-width:1px;
 border-radius:0px;
}

entry:hover, button:hover {
  background-color:#ff8400;
  border-radius:6px;
}

button:hover image, button:hover label {
  background-color:#ff8400;
}

/*
spinbutton {
 border-width:4px;
}
*/

entry:focus {
 background-color:#626580;
 color:#ffffff;
}

notebook header.top tabs tab {
 border-style:outset;
}

notebook header.top tabs tab:hover {
 border-style:outset;
 background-color:#ff8400;
}

notebook header.top tabs tab:hover label {
 background-color:#ff8400;
}

.timeline {
 border-color:#ff8400;
 padding-top:4px;
 padding-bottom:4px;
}

.timeline stepper hover {
 color:#ff0000;
}
scale {
 padding-right:8px;
 padding-left:8px;
}

scale contents trough highlight {
 background-color:#e59420;
}

scale contents slider:hover {
 background-color:#ffdbb4;
}

scale contents slider {
 background-color:#ff8400;
 border-radius:4px;
}

scale value {
 color:#e59420;
 padding-top:5px;
 min-width:24px;
 margin-bottom:6px;
}

treeview {
 background:#27282f;
}

treeview *:selected {
 background-color:#37383f;
}

treeview *:hover {
  background-color:#ff8400;
}

.curve {
 background-color:#2e2f36;
 color:#ffffff;
}

progressbar progress  {
  border-color:#ff8400;
  background-color:#ff8400;
  border-width:2px;
  border-style:solid;
}

progressbar trough  {
  background-color:#37383f;
  border-color:#ff8400;
  border-width:6px;
  border-style:solid;
}

.track {
 border-style:solid;
 border-width:1px;
}

scrollbar contents slider {
 background-color:#434449;
 border-radius:4px;
}

scrollbar contents slider:hover {
 background-color:#ff8400;
 border-radius:4px;
}

scrollbar contents trough highlight {
 background-color:#434449;
}

textview text {
 background-color:#434449;
}

.p_box {
 padding-left:4px;
 padding-right:4px;
 border-color:#434449;
 border-width:1px;
 border-style:solid;
 border-radius:4px;
}



list {
 background-color:#27282f;
}


.search-bar {
 background-color:#27282f;
}

.view {
background-color:#27282f;
}

.image-button {
background-color:#27282f;
}
.sidebar-button {
background-color:#27282f;
}
/*
revealer box.horizontal, box.vertical {
background-color:#27281f;
}*/

menubar {
background-color:#1b1c20;
border-bottom-width:2px;
border-color:#434449;
border-style:solid;
}

menuitem {
background-color:#1b1c20;
padding-bottom:4px;
}

button:disabled, spinbutton:disabled,radiobutton:disabled, checkbutton:disabled  {
 border-style:solid;
 border-color:#4a4a4e;
 border-radius:5px;
 color:#000000;
 text-shadow:none;
 background-image: none;
 text-shadow: none;
 border-image-source:none;
 background-color: mix (#4a4a4e, @bg_color, 0.25);
 text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
}

button:disabled label, spinbutton:disabled entry {
 background-color: mix (#4a4a4e, @bg_color, 0.25);
}

radiobutton:disabled label, radiobutton:disabled entry {
 color: mix (#4a4a4e, @bg_color, 0.25);
}

radiobutton:hover {
 background-color:#ff8400;
} 

scale:disabled contents slider {
 background-color:mix (#4a4a4e, @bg_color, 0.25);
}
scale:disabled contents trough highlight {
 background-color:mix (#4a4a4e, @bg_color, 0.25);
}
scale:disabled value {
 color: mix (#4a4a4e, @bg_color, 0.25);
}

.panel {
 border-style:solid;
 border-right-width:2px;
 border-bottom-width:2px;
}

.toggle:checked {
 background-color:#e59420;
 border-radius:8px;
 border-style:solid;
}
